* {
  box-sizing: border-box;
  background-color: #765282;
  color: #e2b12b;
  padding: 0;
  margin: 0;
  font-family: "roboto", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 6px double #a72801;
  border-radius: 50px 50px;
  box-shadow: 0px 0px 3px 1px #612475;
  row-gap: 30px;
}

.hidden {
  /* Keeps page layout as though it exists 
    unlike display: none;*/
  visibility: hidden;
}

.current-score {
  /* Respects escape characters in template literals */
  white-space: pre;
}

/* Subtle  shadow to make the letters pop*/
.text-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-shadow: #512361 1px 0 5px;
  row-gap: 2vh;
}

.text-container p {
  color: #dab656;
}

.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  width: 300px;
  height: 60px;
}

button {
  width: 50px;
  height: 50px;
  border: 0;
}

.button-icon {
  height: 50px;
  background-color: transparent;
}

/* The invisible box-shadow makes the buttons react on hover */
button:hover {
  background-color: #765282;
  border: 1px solid #765282;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #765282;
}

.comp-choice-container {
  height: 50px;
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  column-gap: 2vw;
}

#comp-choice-img {
  height: 100%;
}

#comp-choice-label {
  min-width: fit-content;
  padding-top: 2vh;
  color: lightgray;
}

.update-container {
  min-width: 440px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5vw;
  padding: 1vh 1vw;
  border: 2px solid #b5bac5;
  border-radius: 5px;
  background-color: #ff450090;
}

.initial-css,
.draw,
.current-score {
  background-color: transparent;
  border: 1px solid #ff450010;
  color: #f3a229;
  font-size: 1.1rem;
}

.lose {
  background-color: #ff450070;
  border: 1px solid #ff450070;
  border-radius: 6px;
}

.win {
  background-color: #f3a229;
  border: 1px solid #f3a229;
  border-radius: 6px;
  color: #a72801;
}

.play-again-container {
  background-color: transparent;
}

#go-again {
  width: 130px;
  text-align: center;
  background-color: #f3a229;
  color: #a72801;
  font-size: 1.05rem;
  font-weight: 550;
  border: 1px solid #f3a229;
  border-radius: 5px;
}

.game-result {
  background-color: lightgray;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: purple;
}
